<p id="notice"><%= notice %></p>

<h1>Owners</h1>
<%= link_to 'Lend a Charger', new_item_path, class: 'btn btn-primary' %>
<table>
  <thead>
    <tr>
      <th>Profile pic</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Bio</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Postcode</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.image %></td>
        <td><%= owner.first_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.bio %></td>
        <td><%= owner.address %></td>
        <td><%= owner.city %></td>
        <td><%= owner.country %></td>
        <td><%= owner.postcode %></td>
        <td><%= owner.user %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'geolocation'} }, function(){
// be aware chrome >= 50 requires https for geolocation to work
if(navigator.geolocation)
  navigator.geolocation.getCurrentPosition(displayOnMap);
});

function displayOnMap(position){
var marker = handler.addMarker({
  lat: position.coords.latitude,
  lng: position.coords.longitude
});
handler.map.centerOn(marker);
};

</script>

<br>

<%= link_to 'New Owner', new_owner_path %>
