<p id="notice"><%= notice %></p>
<% if @owner.present? %>

<div class="jumbotron">
  <div class="container">
    <div class="media">
      <% if @owner.image.present? %>
      <%= image_tag(@owner.image_url, class: "image d-flex") %>
      <% end %>
      <div class="media-body">
        <span class="mt-0 display-4"><%= @owner.first_name %> <%= @owner.last_name %></span>
        <% if @owner.user == current_user %>
          <%= link_to 'Edit', edit_owner_path, class: 'btn btn-secondary btn-block' %>
        <% end %>
        <p><%= @owner.user.email %></br><%= @owner.bio %></p>
      </div>
    </div>

  </div>
</div>
<p id="notice"><%= notice %></p>

<!-- <#% @photos.each_slice(3) do |photos| %>
  <div class="row no-gutters margin-row"> -->
<div class="container-fluid">
  <% if @items.exists? %>
  <% @items.each do |item| %>
      <img class="col-4 col-md-4 owner-post" src='<%=item.image_url %>'>
  <% end %>
  <% end %>
</div>
<!-- <#% end %> -->
<% else %>
<p>This User doesnt have a owner</p>
<%= link_to "Back", root_path, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
