<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>
<!--
<p><button onclick="distance()">Find me, Yo.</button></p>
<div id="out"></div> -->
<div style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
jQuery(function($) {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
  // be aware chrome >= 50 requires https for geolocation to work
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  function displayOnMap(position){
    // $.post('/customers/locate',{id: <%= current_user.customer.id %>, lat: position.coords.latitude, lng: position.coords.longitude});
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });

    handler.map.centerOn(marker);
  };
});

</script>

<p>
  <strong>Profile pic:</strong>
  <%= @customer.image %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @customer.bio %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
