<% if @customer.present? %>
<div class="jumbotron">
  <div class="container">
    <div class="media">
      <% if @customer.image.present? %>
      <%= image_tag(@customer.image_url, class: "image d-flex") %>
      <% end %>
      <div class="media-body">
        <span class="mt-0 display-4"><%= @customer.first_name %> <%= @customer.last_name %></span>
        <% if @customer.user == current_user %>
          <%= link_to 'Edit', edit_customer_path, class: 'btn btn-secondary btn-block' %>
        <% else %>
          <%= link_to "Send Message", conversations_path(user_id: @customer.user), remote: true, method: :post, class: 'btn btn-primary btn-block' %>
        <% end %>
        <p><%= @customer.user.email %></br><%= @customer.bio %></p>
      </div>
    </div>

  </div>
</div>

<% else %>
<p>This User doesnt have a Profile</p>
<%= link_to "Back", root_path, class: "btn btn-primary" %>
<% end %>

<div style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
jQuery(function($) {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
  // be aware chrome >= 50 requires https for geolocation to work
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  function displayOnMap(position){
    // $.post('/customers/locate',{id: <%= current_user.customer.id %>, lat: position.coords.latitude, lng: position.coords.longitude});
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });

    handler.map.centerOn(marker);
  };
});

</script>

<%= link_to 'Back', customers_path %>
