<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= @item.image_data %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @item.caption %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @item.owner %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
