<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Charge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% else %>
        <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
      <% end %>
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.customer.present? %>
          <%= link_to 'Finder', customer_path(current_user.customer.id), class: "dropdown-item" %>
          <% else %>
          <%= link_to 'Finder', new_customer_path, class: "dropdown-item" %>
          <% end%>
          <% if current_user.owner.present? %>
          <%= link_to 'Lender', owner_path(current_user.owner.id), class: "dropdown-item" %>
          <% else %>
          <%= link_to 'Lender', new_owner_path, class: "dropdown-item" %>
          <% end%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
